#mapa{

                height:500px;
                margin:0 0;
            }
            .back{
                background-color:#FFD98A;
                background-image:url('http://res.cloudinary.com/hhktgqpms/image/upload/v1438017931/background_ccnxtw.png');


            }