


.b2{
    font-size:22px;
    background: #009933;
    width:120px;
    color:white;
    height:40px;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right:0;
    box-shadow: 1px 1px 1px 1px black;
    margin-left: 300px;

}


.back3{ 
    height:350px;

}

.back4{
    margin-top: 70px;
    height:186px;
    background-color:black;
    opacity:0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
} 


.back5{

    background-color:white;
    width: 150px;
    height:150px;
}  

img.ca{
    box-shadow: 1px 1px 1px 1px black;

}


.container{
    color:white;
    position:relative;
    margin-top: -170px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.back{

    color: #5a5a5a;
    
    background-color:#FFD98A;
    background-image:url('http://res.cloudinary.com/hhktgqpms/image/upload/v1438017931/background_ccnxtw.png');


}


.back6{
    color:white;
    background-color:#660000;
    width:500px;
    height: 60px;

}
.back7{
    color:white;
    background-color:#660000;
    width:600px;
    height: 60px;

}

.cont{
    margin-left: 120px;

}
.minhaClass {
    background: url(http://res.cloudinary.com/hhktgqpms/image/upload/v1438022001/fundo_verde_upilfa.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.informacoes{
    background-color:white;
    color:black;
    box-shadow: 0px 0px 1em #666;
    -webkit-box-shadow: 0px 0px 1em #666;
    -moz-box-shadow: 0px 0px 1em #666;
}
.ve{
    color:#cc4646;
}
.am{
    color:#ff3333;
    font-size:30px;
}
.borda{
                border-top-width: 1px;

                border-top-style: solid;

                border-top-color: #7b6e6e;
            }
                   
@media (max-width: 767px){

    .back5{
        margin-top:-50px;
        background-color:white;
        width: 100px;
        height:100px;
    }  
    .back3{ 
        margin-left:-20px;
        width: 355px;
        height:400px;

    }

    .back7{
       padding-top:1000px;
    }

    .back4{

        height:236px;
    }
    .b2{
        margin-left:-2px;
    }
    .back{
        margin-left:-20px;
        width:355px;

    }
    .back6{
        margin-left:-120px;
        width: 355px;
    }
    .back7{
        margin-left:-120px;
        width: 355px;
    }

}