body{
    padding: 0;
} 
.span2,.one>h5{
                color:#faa732;
                padding-left:90px;
            }          
.span1>h1{
                color:#faa732;
                margin-left:10px;
                margin-top:1px;
            }
#mapa{
    visibility: hidden;
    height:20px;
    margin: 0;
}

.ui-autocomplete { 
                background: #fff; 
                border-top: 1px solid #ccc;
                cursor: pointer; 
                font: 15px 'Open Sans',Arial;
                margin-left: 3px;
                width: 407px !important;
                position: fixed;
            }
             .ui-autocomplete .ui-menu-item { 
                list-style: none outside none;
                padding: 7px 0 9px 10px;
            }

            .ui-autocomplete .ui-menu-item:hover { background: #eee }

            .ui-autocomplete .ui-corner-all { 
                color: #666 !important;
                display: block;
            }
#txtEndereco{
                font-size:17px;
                border-radius: 0;
                height:33px;
                border-bottom: 0;
                margin-top: 10px;
                border-top: 0;
                border-left: 0;
                border-right:0;
                box-shadow: 0.8 0.8 black;
                padding: 4px 100px;
            }
.back3{
    background-color: #993333;
    width:400px;
    height: 40px;
    margin-left: 480px;
}
.back3> h4{
    padding-top:9px;
}
.back{
    padding-bottom: 40px;
    color: #5a5a5a;
    background-color:#FFD98A;
    background-image:url('http://res.cloudinary.com/hhktgqpms/image/upload/v1438017931/background_ccnxtw.png');
}
.yellow:hover{
    text-decoration:none;

    color:yellow;

}
#right2{
    margin-left:800px;
    margin-top:-70px;
}
#right{
    margin-left:220px;
}
.h4,.h5{
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
}
.h1,.h3{
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
}
 
.back1{
    background: url(http://res.cloudinary.com/hhktgqpms/image/upload/v1438017944/87456__delicious-pizza_p_mywmsz.jpg) no-repeat center top fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.b1{
    font-size:17px;
    background: #a70105;
    color:white;
    height:40px;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right:0;
    box-shadow: 0.07em 0.07em 0.05em 0.05em  black;

}

h4>a{
    color:black;
}           
.fundo2{
    background-color: white;
    width: 500px;
    height:400px;
}
.cor1, .cor2{
    padding: 0;


}
.cor1 {
    background-image: linear-gradient(to bottom, #664BCB, #2D6F98);
}
.distancia{
    margin-right: 300px;
    font-size:5px;
}
.navbar-form > a {
    font-size:13px;
    margin-right:25px;
}

li:hover{
    color: none;
}
.dropdown-toggle {

    color: white;
}
.menu {
    font-size : 15px;
    position: static;
}
.menu > ul> li{

    float: left;
    position: relative;
    margin-left: 50px;
    top:-35px;
    left:200px;
    list-style-type: none;
}
.navbar-form {
    margin-right:40px;
    margin-top:5px;
}
.menu > ul > li:first-child{
    margin-left: 0;
}
input{

    border-radius: 20px 10px 10px 10px;
}
.btn-primary {
    color: #F9F9F9;
    background-color: #006dcc;
    background-image: linear-gradient(to bottom, #1DB0B0, #1E92A1);
}
.btn{
    margin-top:5px;}

.bt_menu{

    margin-top: -100px;
    padding: 0;
    float:right;
}
.bt_menu_2{
    margin-top:-30px;
    padding: 0;
    float:right;
}
.nav{ color: black;}

.caixa{
    background: white; 
    padding: 10px; 
    position: absolute; 
    width: 60%; 
    left: 50%; 
    margin-left: -30%;
    height: 80%;
    top: 50%;
    margin-top: -20%; 
    border-radius: 5px;
}
.caixa .content{
    border: 1px solid #EEE; 
    height: 100%; 
    overflow: auto; 
    padding: 0 10px;}
.caixa .content .list .title{
    padding: 10px; 
    margin-top: 8px; 
    font: 24px Arial;
    color: #666;}
.list a{display: block; margin: 10px; font: 16px Arial; color: #666; text-decoration: none;}
.list a:hover{color: orange;}

.midias_download .midias_download_centro{
    background: white; 
    padding: 10px; 
    position: absolute; 
    width: 60%; 
    left: 50%; 
    margin-left: -30%;
    height: 80%;
    top: 50%;
    margin-top: -20%; 
    border-radius: 5px;
}
.div.open_div{
    cursor: pointer;

}
.hidden_div{
    overflow: hidden;
    clear: both;

}


@media (max-width: 767px) {
   
    .back{
     margin-left: -20px;
     position:absolute;
    }
    
    #form{
        margin-top:-60px;
    }
    .h1{
        font-size:35px;
        margin-top: -160px;
    }
    .h3{
       font-size:20px;
    }
    .back3{
        margin-left:65px;
        width: 200px;
    }
                #txtEndereco{
                    padding: 4px 42px;
                }
                .ui-autocomplete { 
                    width: 290px !important;
                }
                .row, right{
                    visibility: hidden;
                }
                .row> .span3{
                    height:0;
                }
                h3{
                    padding-top: -200px;
                }
form{
                    margin-top: -75px;
                }
                h1{
                    margin-top:-20px;
                }
                 img{
                    margin-top:-30px;
                }
                .right2{
                    visibility: hidden;
                    height:20px;
                }
               body{ overflow-x: hidden;
               }

}