.b1{
                font-size:17px;
                background: #a9302a;
                color:white;
                height:40px;
                border-bottom: 0;
                border-top: 0;
                border-left: 0;
                border-right:0;
                box-shadow: 1px 1px 1px 1px black;

            }

            
.fundo2{
    background-color: white;
    width: 500px;
    height:400px;
}
.cor1, .cor2{
    padding: 0;


}
.cor1 {
    background-image: linear-gradient(to bottom, #664BCB, #2D6F98);
}
.distancia{
    margin-right: 300px;
    font-size:5px;
}
.navbar-form > a {
    font-size:13px;
    margin-right:25px;
}

li:hover{
    color: none;
}
.dropdown-toggle {

    color: white;
}
.menu {
    font-size : 15px;
    position: static;
}
.menu > ul> li{

    float: left;
    position: relative;
    margin-left: 50px;
    top:-35px;
    left:200px;
    list-style-type: none;
}
.navbar-form {
    margin-right:40px;
    margin-top:5px;
}
.menu > ul > li:first-child{
    margin-left: 0;
}
input{

    border-radius: 20px 10px 10px 10px;
}
.btn-primary {
    color: #F9F9F9;
    background-color: #006dcc;
    background-image: linear-gradient(to bottom, #1DB0B0, #1E92A1);
}
.btn{
    margin-top:5px;}

.bt_menu{

    margin-top: -100px;
    padding: 0;
    float:right;
}
.bt_menu_2{
    margin-top:-30px;
    padding: 0;
    float:right;
}
.nav{ color: black;}

.caixa{
    background: white; 
    padding: 10px; 
    position: absolute; 
    width: 60%; 
    left: 50%; 
    margin-left: -30%;
    height: 80%;
    top: 50%;
    margin-top: -20%; 
    border-radius: 5px;
}
.caixa .content{
    border: 1px solid #EEE; 
    height: 100%; 
    overflow: auto; 
    padding: 0 10px;}
.caixa .content .list .title{
    padding: 10px; 
    margin-top: 8px; 
    font: 24px Arial;
    color: #666;}
.list a{display: block; margin: 10px; font: 16px Arial; color: #666; text-decoration: none;}
.list a:hover{color: orange;}

.midias_download .midias_download_centro{
    background: white; 
    padding: 10px; 
    position: absolute; 
    width: 60%; 
    left: 50%; 
    margin-left: -30%;
    height: 80%;
    top: 50%;
    margin-top: -20%; 
    border-radius: 5px;
}
.div.open_div{
    cursor: pointer;

}
.hidden_div{
    overflow: hidden;
    clear: both;

}
